/* The CSS for the main page */
/* Written by: Vlad Mihai Cranga */

/* body properties */
body
{ 
    background-color: black;
}

/* header properties */
header
{
    background-color: rgb(49, 49, 49);
    padding: 0 5%;
}

header h1
{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    line-height: 35px;
	text-align: center;
}

/* main properties */
main
{
    padding: 10px 5%;
    background-color: rgb(44, 44, 44);
}

main article

{
    margin: 20px 0;
    border-top: 1px solid rgb(200,200,200);
}

/* footer properties */
footer
{
    font-size: 0.75em;
    text-align: center;
    border-top: 1px solid grey;
    padding: 3px 5%;
    background-color: black;
}

/* nav properties */
nav 
{
     width: 100%; 
     background-color: #83aa72;
}

nav ul 

{ 
    list-style: none;
    padding: 0px; 
    margin: 0px;
    font-weight: bold;
    text-align: center; 
}
nav ul li
 
{ 
    display: inline-block;

}

nav ul li a 
{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
    color:#f3f4e3; 
    width: 200px;

}
nav ul li a:hover 
{
     background-color: rgb(31, 30, 30);
     color: #fff;
     
}

/* p properties */
p.disclaimer
{
    font-size: 20px;
    color: white;
}

p.information
{
    text-align: center;
    font-size: 15px;
    color: rgb(224, 222, 222);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* h1 properties */
h1.welcome
{
    color: rgb(202, 201, 201);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

/* img properties */
img.me
{
    width: 90%;
    height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.profile
{
    grid-row: span 2;
    width: 90%;
    height: 145%;
    margin-left: auto;
    margin-right: auto;
}

/* a properties */
a.access
{
    color:rgb(190, 190, 252);
}

/* div class properties */
.grid
{
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 115px 100px;
}

.grid-projects {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.grid-projects img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
}

.grid-projects-container {
    border: 1px solid bisque;
    padding: 10px;
}

.grid-projects-bigger {
    border: 1px solid bisque;
    padding: 10px;
    grid-column: span 2; 
    max-width: 400px;
}

/* media rules for wider screens */

@media screen and (min-width: 800px)
{
    h1.welcome
    {
        font-size: 40px;
    }

    p.information
    {
        font-size: 20px;
    }

    header h1
    {
        font-size: 30px;
        line-height: 55px;
    }

    img.me
    {
        width: 75%;
        height: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* media rules for mobile devices */
@media screen and (max-width: 780px)
{
    h1.welcome
    {
        font-size: 25px;
    }

    p.information
    {
        font-size: 15px;
    }

    img.profile
    {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-right: auto;
    }

    .grid
    {
    display: block;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100px 100px;
    }

    .grid-projects
    {
        display: block;
        justify-content: center;
        align-content: center;
    }
    
    .grid-projects img
    {
        height: 50%;
    }
    
    .grid-projects-container
    {
        margin-bottom: 5px;
    }
    
    .grid-projects-bigger
    {
        margin-bottom: 5px;
    }
}
